body {
    margin: 0;
    #layout-main {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ensure layout-main takes up at least the viewport height */
        padding: 10px;
        main {
            flex: 1; /* Expand main to fill remaining space */
        }
    }
}
